// Place all the styles related to the pad controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pad-container{
	position: absolute;
	width: 100%;
	left: 0;
	top: 100px;
	bottom: 5px;
}